/** COMMON **/
/* button, input 관련 */

/* input & button */

/* chk-btn */

/* input - select */

/* STATUS page */

/* ASSOCIATION page */
.graph-box > * {
}

/** CONTENTS page **/
/* detail table */

/** SEARCH page **/
.content-article.article-search-keyword {
  position: absolute;
  top: -90px;
  right: 0;
}

.article-info-mentioned {
  display: flex;
  flex-direction: column;
  /* column으로 흐름이 바뀌었으니 상하 위치를 ALIGN-CONTENT로 잡는 게 아니라
  JUSTIFY-CONTENT로 잡아야한다는 걸 반복해서 잊지 말자 */
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  padding-bottom: 30px;
}
.article-info-mentioned .item-mentioned {
  margin-bottom: 2px;
}
.article-info-mentioned .item-mentioned__num {
  display: inline-block;
  font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', Apple Gothic, 'sans-serif';
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  vertical-align: bottom;
}
.article-info-mentioned .item-mentioned__text {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 700;
  vertical-align: bottom;
}
.article-info-mentioned > .item-period {
  font-size: 14px;
  font-weight: 500;
  color: #afa0d3;
}

@media all and (max-width: 480px) {
  .colorTest {
    justify-content: space-between;
    gap: 14px;
  }
  .colorTest > li {
    width: 150px;
    margin: 0;
  }
}
